
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Simple Phone Book, made by Krzysztof Sauermann</p>
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Go to People list", "Index", "People", "", new { @class = "margin15 btn btn-primary btn-lg" })
        }
        else
        {
            @Html.ActionLink("Login", "Login", "Account", "", new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Reqister new user", "Reqister", "Account", "", new { @class = "margin15 btn btn-primary btn-lg" })
        }
    </p>
</div>